/* CSS Reset */
*  {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* smooth scrolling for navigation */
html {
    scroll-behavior: smooth;
}
/* navigation styling */
#navbar {
    height: 60px;
    display: flex;
    column-gap: 100px;
    align-items: center;
    background-color: #0e0d0d;
}
#logo {
    height: 54px;
    filter: invert();
    padding: 5px 8px;
}
#navbar ul {
    list-style: none;
    display: flex;
    column-gap: 40px;
}
#navbar ul li {
    margin: 0px 10px;
}
#navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 10px 5px;
}
#navbar ul li a:hover {
    color:#12bad8;
    transition: all 0.3s ease-out;
}
#banner {
    height: 60vh;
    background: url(images/banner.jpg);
}
/* add employee section */
#employee {
    background-color: #95c2cf;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    padding: 40px;
}
.metaForm {
    display: flex;
    flex-direction: column;
    width: 40vw;
}
.metaForm input {
    margin-bottom: 20px;
    padding: 5px 3px;
    border: 1px solid #bdb7b7;
    border-radius: 5px;
}
.radio {
    line-height: 1.5rem;
}
.radio label {
    margin-right: 10px;
}
.heading-primary {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 30px 0px;
}
.heading-tertiary {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}
.para {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.btn-secondary {
    font-size: 14.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #fff;
    background: #1b72e4;
    border-radius: 4px;
    cursor: pointer;
    height: 2rem;
    border: 2px solid #fff;
    transition: all 0.3s ease 0s;
    margin: 5px 0px;
    padding: 2px 4px;
    width: 120px;
}
.btn-secondary:hover {
    background: #3566eb;
    border-color: black;
    color: #000;
}